.productsearch {
    /* border: 2px solid red; */
}

.productinput {
    border: 1px solid black;
    border-radius: 5px;
    width:80%;
    height: 1.5rem;
    margin-left: 5rem;
    padding: 0.5rem;
    margin-top: 2rem;
   


}

.productsearch .productsearchbutton {
    /* border: 2px solid pink; */
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-left: 1rem;
    background-color: lightgreen ;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    border-radius: 5px;
    
}